<!-- Config file for the game -->

<config>
  
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <offset value="-350"/>
    <map_limits start="0"/>
    <map_limits2 final="5375"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map_name name="Level_1.tmx"/>
    <map_name name="Level_2.tmx"/>
    <music_name name="audio/music/music_level_1.ogg"/>
    <music_name name="audio/music/music_level_2.ogg"/>
  </scene>
  
  <player>
   <spritesheet player="textures/Spritesheet_Character_1.png"/>
   <fx_name jump="audio/fx/fx_jump.wav"/>
   <fx_name2 dead="audio/fx/fx_dead.wav"/>
   <fx_name3 throwrock="audio/fx/fx_trhowrock.wav"/>
   <fx_name4 ballhit="audio/fx/fx_ballhit.wav"/>
   <position x="200" y="530"/>
   <iPosition x="200" y="530"/>
   <fixBlit fix="40"/>
   <gravity g="5"/>
   <igravity g="5"/>
   <gGravity g="4"/>
   <speed s="3"/>
   <speedgm sgm="6"/>
   <jumpF j="-14"/>
   <iJumpF j="-14"/>
   <jumpG g="-5"/>
   <slipping s="1"/>
   <timeGrabDelay time="200"/>
   <timeAccelerationDelay time="500"/>
   <acceleration a="0.2"/>
   <maxAcceleration max="50"/>
   <playerHeight h="58"/>
   <playerHeight2 h="53"/>
   <incrementJ i="0.5"/>
   <deadDelay d="800"/>
  </player>
  
  <enemy>
    <spritesheet ghost="textures/Spritesheet_Ghost.png"/>
    <position x="600" y="520"/>
  </enemy>
  
  <particles>
    <spritesheet projectiles="textures/Spritesheet_Projectiles.png"/>
  </particles>

</config>