<!-- Config file for the game -->

<config>
  
  <app framerate_cap="30" framerate_cap2="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <offset value="-350"/>
    <map_limits start="0"/>
    <map_limits2 final="5375"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map_name name="Level_1.tmx"/>
    <map_name name="Level_2.tmx"/>
    <music_name name="audio/music/music_level_1.ogg"/>
    <music_name name="audio/music/music_level_2.ogg"/>
  </scene>
  
  <entity>

  </entity>
  
  <entity_manager>
    <spritesheet_player player="textures/Entities/Spritesheet_Character_1.png"/>
    <spritesheet_ghost ghost="textures/Entities/Spritesheet_Ghost.png"/>
    <spritesheet_slime slime="textures/Entities/Spritesheet_Slime.png"/>
  </entity_manager>
  
  <player>
    <fx_name jump="audio/fx/fx_jump.wav"/>
    <fx_name2 dead="audio/fx/fx_dead.wav"/>
    <fx_name3 throwrock="audio/fx/fx_trhowrock.wav"/>
    <fx_name4 ballhit="audio/fx/fx_ballhit.wav"/>
    <fx_name5 ghost_dead="audio/fx/fx_phantomdead.wav"/>
    <fx_name6 ghost_follow="audio/fx/fx_phantomfollow.wav"/>
    <fx_name7 slime_dead="audio/fx/fx_slimedead.wav"/>
    <position x="200" y="0"/>
    <iPosition x="200" y="0"/>
    <width w="40"/>
    <high h="53"/>
    <fixBlit fix="40"/>
    <gravity g="5"/>
    <igravity g="5"/>
    <gGravity g="4"/>
    <speed s="1"/>
    <speedgm sgm="6"/>
    <jumpF j="-15"/>
    <iJumpF j="-15"/>
    <jumpG g="-5"/>
    <slipping s="1"/>
    <timeGrabDelay time="200"/>
    <timeAccelerationDelay time="500"/>
    <acceleration a="0.2"/>
    <maxAcceleration max="50"/>
    <playerHeight h="58"/>
    <playerHeight2 h="53"/>
    <incrementJ i="0.5"/>
    <deadDelay d="800"/>
  </player>
  
  <ghost>
    <width w="40"/>
    <high h="70"/>
    <speedx s="3"/>
    <speedy s="4"/>
    <fixBlit fix="40"/>
    <deadDelay d="800"/>
    <Cross c="maps/Cross.png"/>
    <Wave w="-0.7"/>
  </ghost>
  
  <slime>
    <width w="40"/>
    <high h="24"/>
    <gravity g="1"/>
    <speed s="1"/>
    <fixBlit fix="40"/>
    <deadDelay d="800"/>
    <Cross c="maps/Cross.png"/>
    <gGravity g="4"/>
  </slime>
  
  <enemy>
    <position x="600" y="520"/>
  </enemy>
  
  <particles>
    <spritesheet projectiles="textures/Particles/Spritesheet_Projectiles.png"/>
  </particles>
  
  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
</config>